<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About Us</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- jQuery -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	</head>
	<body>
		<h2>Project</h2>
		<p>
		Capstone is a web application backed by <b>RE</b>presentational <b>S</b>tate <b>T</b>ransfer API. REST is an architectural style. 
		It uses the HTTP methods (<i>GET, POST, PUT, PATCH and DELETE</i>) to conduct business. It always uses HTTP protocol for exchange of data. 
		The format for data can be XML, TEXT or JSON. JSON (<b>J</b>ava<b>S</b>cript <b>O</b>bject <b>N</b>otation) is the preferred format.
		</p>
		<p>
		Web services provide a standardized way of providing interoperability between disparate applications. This means the client and the 
		server are completely decoupled from each other. They communicate using an Internet protocol.
		</p>
		<p>
		Capstone is implemented using Java, JDBC and Spring Boot, HTML5, JQuery and (Bootstrap CSS). Spring offers transaction management and 
		security and a very easy way of bean injection (as opposed to lookup in JEE). We chose to implement our application as a REST based web service.  
		Different client applications (<i> implemented in different programming languages</i>) could connect to it. 
		</p>
		<div class="container">
        	<h5>
            	<!-- include image from static resources -->
            	<img src="/img/rest.png" alt="rest logo"/>
        	</h5>
    	</div>
    	<p>
    	This application will serve to help <b>Humber Radio Department</b> to manage its coop students. 
    	The application offers the following use cases:
    	</p>
   		<ul>
   			<li>Displaying static shift information</li>
   			<li>Displaying employee information</li>
   			<li>Adding employee</li>
   			<li>Clocking an employee in</li>
   			<li>Clocking an employee out</li>
   			<li>Finding shifts for employees (given range of dates)</li>
   		</ul>
    	
    	<h2>Contributors</h2>
    	<p>
    	<b>Meritorious</b> and <b>shining</b> students of Humber (Kulwinder and (myself) Raman) worked diligently together.
    	We would like to thank our mentors too.
    	</p>
		<div>
			<h5>Contact Us</h5>
			<ul>
				<li>
					Kulwinder Aulakh
					<ul>
						<li>Email: <a href="mailto:aulakh.kulwinder1512@gmail.com">Kulwinder Aulakh</a></li>
						<li>LinkedIn: <a href="https://www.linkedin.com/in/kulwinder007/">Kulwinder A</a></li>
					</ul>
				</li>
				<li>	
					Ramanjot Kaur
					<ul>
						<li>Email: <a href="mailto:ramanjotkaur105@gmail.com">Ramanjot Kaur</a></li>
						<li>LinkedIn: <a href="https://www.linkedin.com/in/rmanjka/">Ramanjot K</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>