<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Add Employee</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- jQuery -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	</head>
	<body>
		<h2>Add Employee</h2>
		<form class="form-inline" action="/capstone/employees" method="post" id="my_form">
			<div class='form-group' style='margin-top: 50px;'>
				<label for="emp_id">Emp Id:</label> 
					<input type="text" class="form-control" name="id" id="emp_id" value="" placeholder="EMP-XXXX" style='width: 100px;'>
				<label for="first_name">First Name:</label> 
					<input type="text" class="form-control" name="firstName" id="first_name" value="">
				<label for="last_name">Last Name:</label> 
					<input type="text" class="form-control" name="lastName" id="last_name" value="">
				<label for="email">Email:</label> 
					<input type="text" class="form-control" name="email" id="email" value="" placeholder="name@example.com">
			  <input class="btn btn-primary"type="submit" value="Add Employee" id="post_btn">
			  <input type="reset" class="btn btn-secondary" value="Clear" id="reset_btn"/>
		  </div>
		</form> 
		<script>
		var emailRegex = new RegExp(/^[^\s@]+@[^\s@]+\.[^\s@]+$/);
		$("#my_form")
			.submit(function(event){
				event.preventDefault(); //prevent default action 
				var post_url = $(this).attr("action"); //get form action url
				var request_method = $(this).attr("method"); //get form GET/POST method
				var id=$("#emp_id").val();
				var firstName = $("#first_name").val();
				var lastName = $("#last_name").val();
				var email = $("#email").val();
				var empRegex = new RegExp(/^EMP-\d{4}$/);
				if(!id.match(empRegex)){
					alert("Employee Id format EMP-XXXX");
					return;
				}	
				if(firstName===""){
					alert("First name cannot be empty")
					return;
				}
				if(lastName===""){
					alert("Last name cannot be empty")
					return;
				}
				if(!email.match(emailRegex)){
					alert("Invalid email format")
					return;
				}
				$.ajax(
					{
						url : post_url,
						type: request_method,
						data : {id:id,firstName:firstName,lastName:lastName,email:email}
					}
				)
				.done(function(response){ //
							alert(response);
						}
				)
				.fail (function(jqxhr, textStatus, errorThrown) {
						alert("Error: " + jqxhr.statusText + " : " + jqxhr.responseText) ;
						$("#reset_btn").click();
					}
				);
			}
		);
		</script>
	</body>
</html>
