<!DOCTYPE html>
<html lang="en">
	<body>
		<h2>Add Employee</h2>
		<form action="/capstone/employees" method="post">
		Emp id:<br>
		  <input type="text" name="id" value="">
		  <br>
		  First name:<br>
		  <input type="text" name="firstName" value="Mickey">
		  <br>
		  Last name:<br>
		  <input type="text" name="lastName" value="Mouse">
		  <br>
		  Email:<br>
		  <input type="text" name="email" value="Mouse">
		  <br>
		  <br>
		  <input type="submit" value="Add Employee">
		</form> 
	</body>
</html>
