<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Employee Clock In</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- jQuery -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	</head>
	<body>
		<h2>Employee Clock In</h2>

		<form class="form-inline" action="/capstone/employees/" method="post" id="my_form">
			<div class='form-group' style='margin-top: 50px;'>
				<label for="emp_id">Emp Id:</label> 
			  	<input type="text" class="form-control" name="emp_id" id="emp_id" value="" placeholder="EMP-XXXX">
			 	<label for="shift_id">Shift Id:</label> 
			  	<input type="text" class="form-control" name="shift_id" id="shift_id" value="">
			    <input type="submit" class="btn btn-primary" value="ClockIn" id="post_btn">
			    <input type="reset" class="btn btn-secondary" id="reset_btn" value="Clear" />
		    </div>
		</form> 
		<script>
		$('document')
			.ready(function () {
					$.ajax(
						{
							url : "/capstone/shifts/closest",
							type: "get",
						}
					)
					.done(function(response)
						{ 
					 		$('#shift_id').val(response)
						}
					)
					.fail (function(jqxhr, textStatus, errorThrown)  
						{
							alert("Error: " + jqxhr.statusText + " : " + jqxhr.responseText) ;
    					}
					);
			}
		);
		$("#my_form")
			.submit(function(event){
				event.preventDefault(); //prevent default action 
				var post_url = $(this).attr("action"); //get form action url
				var request_method = $(this).attr("method"); //get form GET/POST method
				var id=$("#emp_id").val();
				var shiftId=$("#shift_id").val();
				var empRegex = new RegExp(/^EMP-\d{4}$/);
				if(shiftId>=1 && shiftId<=3){
					if(id.match(empRegex)){
						post_url=post_url+id+"/clockin"
						$.ajax(
							{
								url : post_url,
								type: request_method,
								data : {shiftId:shiftId}
							}
						)
						.done(function(response){ //
									alert(response);
								}
						)
						.fail (function(jqxhr, textStatus, errorThrown) {
								alert("Error: " + jqxhr.statusText + " : " + jqxhr.responseText) ;
								$("#reset_btn").click();
							}
						);
					}
					else
						alert("Employee Id format EMP-XXXX");
				}
				else
					alert('Invalid shift Id');
			}
		);
		</script>
	</body>
</html>
