<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Employees</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- jQuery -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	</head>
	<body>
		<h2>Employees</h2>
		<form class="form-inline" action="/capstone/employees" method="get" id="my_form">
			<div class='form-group' style='margin-top: 50px;'>
				<label for="emp_id">Emp Id:</label> 
					<input type="text" class="form-control" name="id" id="emp_id" value="" placeholder="EMP-XXXX" style='width: 100px;'>
				<input type="submit" class="btn btn-primary" value="Find" id="get_btn">
			    <input type="reset" class="btn btn-secondary" id="reset_btn" value="Clear" />
			</div>
		</form>
		<div>
			<br/>
			<table class="table table-striped table-dark" id="table_id" ></table>
		</div>
	</body>
	<script>
	var emailRegex = new RegExp(/^[^\s@]+@[^\s@]+\.[^\s@]+$/);
	
	function updateEmployee(id){
		var tokens = id.split("_");
		var empId = tokens[0];
		var firstName = tokens[1];
		var lastName = tokens[2];
		var email = tokens[3];
		var newFirstName = $("#fn_"+empId).val();
		var newLastName = $("#ln_"+empId).val();
		var newEmail = $("#em_"+empId).val();
		if(newFirstName===""){
			alert("First name cannot be empty")
			$("#fn_"+empId).val(firstName);
			return;
		}
		if(newLastName===""){
			alert("Last name cannot be empty")
			$("#ln_"+empId).val(lastName);
			return;
		}
		if(!newEmail.match(emailRegex)){
			alert("Invalid email format")
			$("#em_"+empId).val(email);
			return;
		}
		var r = confirm("Are you sure you want to update this employee?");
		if(r){
			$.ajax(
				{
						url : "/capstone/employees/"+empId,
						type: "put",
						data : {id:empId,firstName:newFirstName,lastName:newLastName,email:newEmail}
					}
				)
				.done(function(response)
					{ //
						var rowUpdated = parseInt(response);
						if(rowUpdated===1)
							alert("Employee '"+empId+"' updated");
						else
							alert("Employee '"+empId+"' could not be updated");
						$("#get_btn").click();
					}
				)
				.fail (function(jqxhr, textStatus, errorThrown) {
						alert("Error: " + jqxhr.statusText + " : " + jqxhr.responseText) ;
						$("#reset_btn").click();
					}
				);			
		}
	}
	
	function removeEmployee(id){
		var r = confirm("Remove employee "+ id + "?");
		if(r){
			$.ajax(
					{
						url : "/capstone/employees/"+id,
						type: "delete",
						data : {id:id}
					}
				)
				.done(function(response)
					{ //
						var rowUpdated = parseInt(response);
						if(rowUpdated===1)
							alert("Employee '"+id+"' removed");
						else
							alert("Employee '"+id+"' could not be removed");
						$("#get_btn").click();
					}
				)
				.fail (function(jqxhr, textStatus, errorThrown) {
						alert("Error: " + jqxhr.statusText + " : " + jqxhr.responseText) ;
						$("#reset_btn").click();
					}
				);
		}
		else{
			alert("Cancelled removing employee")
		}
	}
	$("#my_form")
		.submit(function(event){
			event.preventDefault(); //prevent default action 
			var get_url = $(this).attr("action"); //get form action url
			var request_method = $(this).attr("method"); //get form GET/POST method
			var id=$("#emp_id").val();
			if(id!=""){
				var empRegex = new RegExp(/^EMP-\d{4}$/);
				if(id.match(empRegex)){
					get_url =get_url + "/"+ id;
				}
				else{
					alert("Employee Id format EMP-XXXX");
					return;
				}
			}
			$.ajax(
				{
					url : get_url,
					type: "get"
				}
			)
			.done(function(response)
				{ 
					var jsonObject = response;
					var strHtml = "<thead><tr><th scope='col'>Emp Id</th><th scope='col'>First Name</th><th scope='col'>Last Name</th><th scope='col'>Email</th><th scope='col'>Update</th><th scope='col'>Remove</th></tr></thead>";
					strHtml += "<tbody>"
					$(jsonObject).each(function()
						{
							var row = $(this)[0];
							var empId = row["empId"];
							var firstName = row["firstName"];
							var lastName = row["lastName"];
							var email = row["email"];
							var id = empId + "_" + firstName + "_" + lastName + "_" + email;
							strHtml += '<tr>'+
										'<td>'+empId+'</td>'+
										'<td><input id =\'fn_'+empId+'\' type=\'text\' class=\'form-control\' value=\''+firstName+'\' style=\'width: 150px;\'></td></td>'+
										'<td><input id =\'ln_'+empId+'\' type=\'text\' class=\'form-control\' value=\''+lastName+'\' style=\'width: 150px;\'></td></td>'+
										'<td><input id =\'em_'+empId+'\' type=\'text\' class=\'form-control\' value=\''+email+'\' style=\'width: 250px;\'></td></td>'+
										'<td><button class=\'btn btn-warning\' onclick="updateEmployee(\''+id+'\')">Update</button></td>'+
										'<td><button class=\'btn btn-warning\' onclick="removeEmployee(\''+empId+'\')">Remove</button></td>'+
									   '</tr>';
						}
					);
					strHtml += "</tbody>"
			 		$('#table_id').html(strHtml);
				}
			)
			.fail (function(jqxhr, textStatus, errorThrown)  
				{
					alert("Error: " + jqxhr.statusText + " : " + jqxhr.responseText) ;
				}
			);
		}
	);
	</script>
</html>